/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Raleway:400,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Variables*/
body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

nav .logo {
  display: block;
  text-align: center;
  background-color: white; }
  nav .logo img {
    max-width: 110px; }
nav .envoltura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FC9DC9;
  height: 100vh;
  padding: 42px;
  -webkit-box-shadow: 6px 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 0 3px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: absolute;
  top: 0;
  left: -200px;
  -webkit-transition: all 1s;
  transition: all 1s; }
  nav .envoltura__link {
    margin-bottom: 26px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    text-decoration: none; }
    nav .envoltura__link:hover {
      color: #fe4a83; }
  nav .envoltura__productos {
    margin: 26px 10px; }
    nav .envoltura__productos:hover {
      cursor: pointer; }
    nav .envoltura__productos:hover .submenu {
      height: 120px;
      opacity: 1; }
  nav .envoltura .submenu {
    position: absolute;
    height: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 1s;
    transition: all 1s; }
    nav .envoltura .submenu a {
      display: block;
      color: #fff;
      font-size: 1.3em;
      font-weight: bold;
      text-decoration: none;
      padding-top: 8px; }
      nav .envoltura .submenu a:hover {
        color: #fe4a83; }
  nav .envoltura::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    padding-left: 20px;
    background-image: url("../Imagenes/menu.png");
    background-size: 30px;
    background-position: right;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    right: -50px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  nav .envoltura:hover {
    left: 0; }
  nav .envoltura:hover::after {
    right: 10px; }
@media all and (min-width: 800px) {
  nav .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 14px;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  nav img {
    width: 100px;
    text-align: center; }
  nav .envoltura {
    width: 100%;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: static;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    -webkit-transition: none;
    transition: none; }
    nav .envoltura::after {
      display: none; }
    nav .envoltura__link {
      margin-bottom: 0;
      margin-left: 12px;
      font-size: 2em;
      color: #fe4a83; }
      nav .envoltura__link:hover {
        color: #FC9DC9; }
    nav .envoltura__productos {
      margin: 10px;
      position: relative; }
      nav .envoltura__productos:hover {
        cursor: pointer;
        -webkit-transform: translate(-60px, 0);
                transform: translate(-60px, 0);
        -webkit-transition: all 0.5;
        transition: all 0.5; }
      nav .envoltura__productos:hover .submenu {
        height: 80px;
        opacity: 1; }
    nav .envoltura .submenu {
      position: absolute;
      height: 0;
      opacity: 0;
      overflow: hidden;
      -webkit-transition: all 1s;
      transition: all 1s; }
      nav .envoltura .submenu a {
        display: block;
        font-family: 'Raleway', sans-serif;
        color: #fe4a83;
        font-size: 1.4em;
        text-decoration: none;
        padding-top: 4px;
        margin-left: 10px; }
        nav .envoltura .submenu a:hover {
          color: #FC9DC9; } }

.home {
  height: calc(100vh - 157px);
  padding: 40px;
  background: url("../Imagenes/donut22.jpg");
  background-size: 2200px;
  background-position: -300px bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center; }
  .home .block {
    max-width: 630px;
    margin: 0 auto; }
    .home .block h1 {
      padding-bottom: 15px;
      font-weight: bold;
      font-size: 4em; }
    .home .block h3 {
      padding-bottom: 15px;
      font-weight: lighter;
      font-size: 2em; }
    .home .block h4 {
      font-weight: lighter;
      font-size: 1.8em; }
  .home .boton {
    display: block;
    max-width: 220px;
    margin: 40px auto 0;
    background-color: #fe4a83;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 1.6em; }
  @media all and (min-width: 800px) {
    .home {
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(2, 50%); }
      .home .block {
        grid-row: 1/2;
        grid-column: 2/ 2; }
      .home h1 {
        color: #fe4a83; } }

.contacto {
  padding: 40px;
  background: url("../Imagenes/donut22.jpg");
  background-size: 2200px;
  background-position: -300px bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .contacto .info iframe {
    max-width: 500px;
    margin: 35px auto 0;
    width: 100%;
    height: 400px; }
  .contacto .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white; }
    .contacto .footer__social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin-bottom: 10px;
      color: #FC9DC9;
      text-align: center;
      -ms-flex-line-pack: center;
          align-content: center;
      font-size: 2em; }
      .contacto .footer__social__link {
        width: 40px;
        height: 40px;
        margin: 6px;
        color: #FC9DC9; }
        .contacto .footer__social__link svg {
          width: 40px;
          height: 40px;
          fill: #FC9DC9; }
  .contacto .formulario {
    margin-top: 40px; }
    .contacto .formulario__text {
      text-align: center;
      margin: 0 auto;
      font-weight: bold;
      font-size: 3em;
      color: white;
      margin-bottom: 20px; }
  .contacto .form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .contacto .form__input {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: calc(50% - 5px);
      margin-bottom: 20px;
      position: relative;
      margin-right: 5px; }
      .contacto .form__input input {
        width: 100%;
        position: relative;
        z-index: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 5px;
        font-family: 'Raleway', sans-serif; }
      .contacto .form__input input:focus + label {
        top: -15px; }
      .contacto .form__input label {
        font-size: 1em;
        position: absolute;
        top: 0;
        left: 4px;
        font-weight: bold;
        -webkit-transition: top 0.7s;
        transition: top 0.7s;
        z-index: 0;
        color: white;
        font-family: 'Raleway', sans-serif; }
    .contacto .form__boton {
      display: block;
      max-width: 220px;
      margin: 15px auto 0;
      background-color: #fe4a83;
      color: white;
      text-align: center;
      padding: 10px 15px;
      text-decoration: none;
      font-family: 'raleway';
      font-size: 1.5em;
      font-weight: bolder;
      border: none;
      -webkit-transition: background-color black;
      transition: background-color black; }
      .contacto .form__boton:hover {
        background-color: black; }
    .contacto .form textarea {
      margin-top: 10px;
      width: 100%;
      height: 200px;
      font-family: 'Raleway', sans-serif;
      padding: 5px; }
  @media all and (min-width: 800px) {
    .contacto {
      height: calc(100vh - 157px);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      display: grid;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      grid-template-columns: repeat(2, 50%);
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .contacto .formulario {
        grid-column: 2/ 2;
        margin-right: 50px; }
      .contacto .info {
        grid-column: 1/ 2;
        margin-left: 50px; } }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    color: #FC9DC9;
    font-size: 1.4em; }
    .footer__social__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      margin: 10px;
      width: 40px;
      height: 25px;
      color: #FC9DC9;
      text-decoration: none;
      font-weight: bold; }
      .footer__social__link svg {
        width: 20px;
        height: 20px;
        fill: #FC9DC9; }

/*# sourceMappingURL=style.css.map */